<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServices" />
        <binding name="BasicHttpBinding_IServices1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/L5Simpel2/Service/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServices"
        contract="ShopService.IServices" name="BasicHttpBinding_IServices" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/L5Simpel2/Service/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServices1"
        contract="ServiceReference1.IServices" name="BasicHttpBinding_IServices1" />
    </client>
  </system.serviceModel>
</configuration>